@model IEnumerable<CrudNetCore5.Models.Libro>
@{
    ViewData["Title"] = "Lista de libros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">
        <div>

        </div>
        <div class="">

        </div>
    </div>
</div>